:root {
  --navBarMinWidth: 4rem;
  --iconSize: 1.5rem;
  --primaryColor: #f68a20;
  --primaColor: #fc7e00;
  --secondaryColor: #fece64;
  --lineColor: #a4a2a2;
  /* --lineColor: #c4c4c4; */
  /* --white: #2b2b2b; */
  --white: #fffbf8;
  --black: #404040;
  --blackforte: #0000;
  --primaryColorTransparent: #F0A358;
  --transparent: #F2B06F;
  --whiteTrans: #ddd;
  --scroolColor: #cecac5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  position: relative;
  display: flex;
}

a {
  color: var(--black);
  text-decoration: none;
}

/* body{
  overflow-x: none;
} */

body::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--scroolColor);
}

body::-webkit-scrollbar-thumb {
  background-color:  var(--scroolColor);
  border-radius: .2rem;
};

body::-webkit-scrollbar-thumb:hover,
  body::-webkit-scrollbar-thumb:active {
    background-color:  var(--scroolColor);
  }

  @media screen and (min-width: 720px) {
    body::-webkit-scrollbar {
      background-color:  var(--scroolColor);
    }
    body::-webkit-scrollbar-thumb {
      background-color:  var(--primaryColor);
    }
  }


